<ul id="expired" class="well">
  <% if @expired.size > 0 %>
    <%= render :partial => "payments/payment", :collection => @expired, as: :payment %>
  <% else %>
    <li class="payment media">Hurra! non ci sono ritardi nei pagamenti</li>
  <% end %>
</ul>

<div class="row-fluid" id="timeline">
  <div class="span12">
    <% (-3..8).each do |index| %>
      <div class="row-fluid t-month" data-index="<%= index %>">
        <div class="span2 offset1 date">
          <% date = Helper::get_date_by_index index %>
          <span class="year"><%= date.year %></span>
          <span class="month"><%= month_as_string date.month %></span>
        </div>
        <div class="span9 payments">
          <%= render "payments/payments", { payments: Payment.by_index(index) }%>
        </div>
        <i></i>
      </div>
    <% end %>
  </div>
</div>