
Qui visualizzo quelli scaduti
  <% @expired.each do |p| %>
    <div>
      <span class="label label-important" style="min-width:100px"><%= p.v_date %></span>
      <span class="has-popup" data-placement="bottom" data-content='<div class="note"><%= p.client.note %></div>' data-title='<div class="actions"><%= link_to "Modifica", edit_client_path(p.client), remote: true %></div>'><%= p.client.name %></span>
      <span><%= p.invoice.number %></span>
      <span><%= p.invoice.date %></span>
      <span><%= p.value %></span>
    </div>
  <% end %>




<%= link_to 'Nuovo cliente', new_client_path, remote: true %>

<br/>

<%= link_to 'Nuova fattura', new_invoice_path, remote: true %>



<div class="row-fluid" id="timeline">
  <div class="span12">
    <% (-3..8).each do |index| %>
      <div class="row-fluid t-month" data-index="<%= index %>">
        <div class="span2 offset1 date">
          <% date = Helper::get_date_by_index index %>
          <span class="year"><%= date.year %></span>
          <span class="month"><%= month_as_string date.month %></span>
        </div>
        <div class="span6 payments">
          <%= render "payments/payments", { payments: Payment.by_index(index) }%>
        </div>
        <i></i>
      </div>  
    <% end %>
  </div>
</div>


Elenco clienti
<!--table class="table">
  <% @clients.each do |c| %>
    <tr>
      <td><%= c.name %></td>
      <td><%= link_to 'Nuova fattura', new_client_invoice_path(c), remote: true  %></td>
      <td><%= link_to 'Modifica', edit_client_path(c), remote: true  %></td>
      <td><%= link_to 'Elimina', client_path(c), method: :delete %></td>
    </tr>
    <tr>
      <td colspan="3">
          <table>
            <% c.invoices.each do |i| %>
              <tr>
                <td><%= i.amount %></td>
                <td><%= i.date %></td>
                <td><%= link_to 'Modifica', edit_invoice_path(i), remote: true %></td>
                <td><%= link_to 'Elimina', invoice_path(i), method: :delete %></td>
              </tr>
            <% end %>
          </table>
      </td>
    </tr>
  <% end %>
</table-->