<%= nested_form_for @invoice, remote: true, html: { class: 'form-invoice' } do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="row-fluid">
      <span class="span3">
        <h3><%= ["edit", "update"].include?( params[:action] ) ? 'Modifica fattura' : 'Nuova fattura' %></h3>
      </span>
      <span class="span7 offset1">
        <%= f.text_area :note, class: 'span12 note' %>
        <%= f.errors :note, class: 'help-inline' %>
      </span>
    </div>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <div class="row-fluid">
        <span class="span11">
        <%= f.label :client_id %>
        <%= f.select :client_id, options_for_select(Client.all.map{ |c| [ c.name, c.id, { 'data-address' => c.address, 'data-note' => c.note } ] }, @invoice.client_id) %>
        <%= f.errors :client_id, class: 'help-inline' %>
        </span>
        <span class="span1">
          <%= link_to 'Add', new_client_path(fi: 1), remote: true %>
        </span>
      </div>
    </div>
    <div class="control-group">
      <div class="row-fluid">
        <span class="span2">
          <%= f.label :number %>
          <%= f.text_field :number, class: 'span12' %>
          <%= f.errors :number, class: 'help-inline' %>
        </span>
        <span class="span2">
          <%= f.label :date %>
          <%= f.text_field :date, class: 'input-small date', value: ( @invoice.date.strftime("%d.%m.%Y") unless @invoice.date.blank? ) %>
          <%= f.errors :date, class: 'help-inline' %>
        </span>
      </div>
    </div>
    <div class="control-group">
      <div class="row-fluid">
        <span class="span2">
          <%= f.label :amount %>
          <div class="input-append currency">
            <%= f.currency_field :amount, class: 'span12' %>
            <span class="add-on">&euro;</span>
          </div>
          <%= f.errors :amount, class: 'help-inline' %>
        </span>
        <!--span class="span6 offset4">
          <%= f.label :note, 'Note fattura' %>
          <%= f.text_area :note, class: 'span12 note' %>
          <%= f.errors :note, class: 'help-inline' %>
        </span-->
      </div>
    </div>
    <div class="control-group">
      <div class="row-fluid">
        <span class="span2">Importo</span>
        <span class="span2">Data</span>
        <span class="span6 offset2">Nota pagamento</span>
      </div>
      <%= f.fields_for :payments do |builder| %>
        <div class="row-fluid">
          <span class="span2">
            <span class="input-append currency">
              <%= builder.currency_field :value, class: 'input-small currency' %>
              <span class="add-on">&euro;</span>
            </span>
            <%= builder.errors :value %>
          </span>
          <span class="span2">
            <%= builder.text_field :v_date, class: 'input-small date', data: { 'date-type' => :month } %>
            <%= builder.errors :v_date %>
          </span>
          <span class="span6 offset2">
            <%= builder.text_area :note, class: 'note span12' %>
            <%= builder.errors :note %>
          </span>
          <%= builder.link_to_remove "Elimina rata" %>
        </div>
      <% end %>
      <%= f.link_to_add "Aggiungi rata", :payments %>
    </div>
  </div>
  <div class="modal-footer">
    <%= link_to "Annulla",  cancel_invoices_path, class: 'btn', remote: true %>
    <%= f.button "Salva", type: :submit, class: 'btn btn-info' %>
  </div>
<% end %>