<ul class="list-payments">
  <% if (invoice.num_payments > 0) %>
    <% invoice.payments.each do |m| %>
      <li>
        <span class="label label-<%= m.paid? ? 'success' : m.expired? ? 'important' : 'nocolor'%> ">&nbsp;</span>
        <%= m.v_date %> - <%= write_currency m.value %>
      </li>
    <% end %>
      <li>
        <span class="label label-nocolor">&nbsp;</span>
        <div class="pull-right">
          totale: <%= write_currency invoice.amount %> ( rate: <span class="alert-error"><%= write_currency invoice.total_expired_payments %></span> / <%= write_currency invoice.total_payments %> )
        </div>
      </li>
  <% else %>
    <li>nessuna rata specificata</li>
  <% end %>
</ul>