<%= form_for @client, remote: true, html: { class: 'form-cliente' } do |f| %>
  <%= hidden_field_tag :from_invoice, @from_invoice %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="row-fluid">
      <span class="span4">
        <h3><%= ["edit", "update"].include?( params[:action] ) ? 'Modifica cliente' : 'Nuovo cliente' %></h3>
      </span>
      <span class="span6 offset1">
        <%= f.text_area :note, class: 'span12 note expand' %>
        <%= f.errors :note, class: 'help-inline' %>
      </span>
    </div>
  </div>
  <div class="modal-body">
    <div class="control-group row-fluid <%= f.has_errors? :name %>">
      <span class="span12">
        <%= f.label :name, 'Nome', class: 'control-label' %>
        <%= f.text_field :name, class: 'span12' %>
        <%= f.errors :name, class: 'help-block' %>
      </span>
    </div>
    <div class="control-group">
      <div class="row-fluid">
        <span class="span12">
          <%= f.label :address, 'Indirizzo' %>
          <%= f.text_area :address, class: 'span12 expand' %>
          <%= f.errors :address, class: 'help-inline' %>
        </span>
      </div>
    </div>
    <div class="control-group">
      <div class="row-fluid">
        <span class="span4 iva">
          <%= f.label :iva, 'IVA' %>
          <%= f.text_field :iva, class: 'span12', maxlength: 11 %>
          <%= f.errors :iva, class: 'help-inline' %>
        </span>
        <span class="span4 cf">
          <%= f.label :cf, 'Codice fiscale' %>
          <%= f.text_field :cf, class: 'span12', maxlength: 16 %>
          <%= f.errors :cf, class: 'help-inline' %>
        </span>
      </div>
    </div>
    <div class="control-group">
      <div class="row-fluid">
        <span class="span12">
          <%= f.label :payment_type, 'Tipo di pagamento' %>
          <%= f.text_field :payment_type, class: 'span12' %>
          <%= f.errors :payment_type, class: 'help-inline' %>
        </span>
      </div>
    </div>
    <div class="control-group">
      <div class="row-fluid">
        <span class="span12">
          <%= f.label :bank, 'Banca' %>
          <%= f.text_area :bank, class: 'span12 expand' %>
          <%= f.errors :bank, class: 'help-inline' %>
        </span>
      </div>
    </div>
    <div class="control-group">
      <div class="row-fluid">
        <span class="span2">
          <%= f.label :abi, 'ABI' %>
          <%= f.text_field :abi, class: 'span12', maxlength: 5 %>
          <%= f.errors :abi, class: 'help-inline' %>
        </span>
        <span class="span2">
          <%= f.label :cab, 'CAB' %>
          <%= f.text_field :cab, class: 'span12', maxlength: 5 %>
          <%= f.errors :cab, class: 'help-inline' %>
        </span>
        <span class="span4 offset4 currency">
          <%= f.label :hourly_cost, 'Costo orario' %>
          <%= f.currency_field :hourly_cost, class: 'span12 currency' %>
          <%= f.errors :hourly_cost, class: 'help-inline' %>
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <% unless @client.new_record? %>
      <%= link_to client_path(@client), method: :delete, class: 'btn btn-danger pull-left', confirm: 'sicuro?' do %>
        <i class="icon-trash"></i> Elimina
      <% end %>
    <% end %>
    <%= link_to "Annulla",  cancel_clients_path, class: 'btn', remote: true %>
    <%= button_tag type: :submit, class: 'btn btn-info' do %>
      <i class="icon-ok"></i> Salva
    <% end %>
  </div>
<% end %>