<%= form_for @client, remote: true, html: { class: 'form-cliente' } do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="row-fluid">
      <span class="span4">
        <h3><%= ["edit", "update"].include?( params[:action] ) ? 'Modifica cliente' : 'Nuovo cliente' %></h3>
      </span>
      <span class="span6 offset1">
        <%= f.text_area :note, class: 'span12 note' %>
        <%= f.errors :note, class: 'help-inline' %>
      </span>
    </div>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <div class="row-fluid">
        <span class="span12">
          <%= f.label :name, 'Nome' %>
          <%= f.text_field :name, class: 'span12' %>
          <%= f.errors :name, class: 'help-inline' %>
        </span>
      </div>
    </div>
    <div class="control-group">
      <div class="row-fluid">
        <span class="span12">
          <%= f.label :address, 'Indirizzo' %>
          <%= f.text_area :address, class: 'span12 note' %>
          <%= f.errors :address, class: 'help-inline' %>
        </span>
      </div>
    </div>
    <div class="control-group">
      <div class="row-fluid">
        <span class="span4 iva">
          <%= f.label :iva, 'IVA' %>
          <%= f.text_field :iva, class: 'span12' %>
          <%= f.errors :iva, class: 'help-inline' %>
        </span>
        <span class="span4 cf">
          <%= f.label :cf, 'Codice fiscale' %>
          <%= f.text_field :cf, class: 'span12' %>
          <%= f.errors :cf, class: 'help-inline' %>
        </span>
      </div>
    </div>
    <div class="control-group">
      <div class="row-fluid">
        <span class="span12">
          <%= f.label :payment_type, 'Tipo di pagamento' %>
          <%= f.text_field :payment_type, class: 'span12' %>
          <%= f.errors :payment_type, class: 'help-inline' %>
        </span>
      </div>
    </div>
    <div class="control-group">
      <div class="row-fluid">
        <span class="span12">
          <%= f.label :bank, 'Banca' %>
          <%= f.text_area :bank, class: 'span12 note' %>
          <%= f.errors :bank, class: 'help-inline' %>
        </span>
      </div>
    </div>
    <div class="control-group">
      <div class="row-fluid">
        <span class="span2">
          <%= f.label :abi, 'ABI' %>
          <%= f.text_field :abi, class: 'span12' %>
          <%= f.errors :abi, class: 'help-inline' %>
        </span>
        <span class="span2">
          <%= f.label :cab, 'CAB' %>
          <%= f.text_field :cab, class: 'span12' %>
          <%= f.errors :cab, class: 'help-inline' %>
        </span>
        <span class="span4 offset4 currency">
          <%= f.label :hourly_cost, 'Costo orario' %>
          <span class="input-append">
            <%= f.currency_field :hourly_cost, class: 'span10' %>
            <span class="add-on">&euro;</span>
          </span>
          <%= f.errors :hourly_cost, class: 'help-inline' %>
        </span>
      </div>
    </div>
    <!--div class="control-group">
      <div class="row-fluid">
        <span class="span12">
          <%= f.label :note %>
          <%= f.text_area :note, class: 'span12 note' %>
          <%= f.errors :note, class: 'help-inline' %>
        </span>
      </div>
    </div-->
  </div>
  <div class="modal-footer">
    <%= link_to "Annulla",  cancel_clients_path, class: 'btn', remote: true %>
    <%= f.button "Salva", type: :submit, class: 'btn btn-info' %>
  </div>
<% end %>