<% source = source || 'expired' %>
<li class="payment media <%= is_filtered? payment %>" id="<%= source == "expired" ? "expired_payment_#{payment.id}" : "payment_#{payment.id}" %>" data-client="<%= payment.client.id %>">
  <%= payment_label_tag payment, source %>
  <div class="media-body">
    <h4 class="media-heading">
      <span class="value"><%= write_currency payment.value %></span>
      <span class="client has-popup" data-width="400px" data-placement="bottom" data-content='<%= render partial: 'clients/popup_content', locals: { client: payment.client } %>' data-title='<%= render partial: 'clients/popup_title', locals: { client: payment.client } %>'><%= payment.client.name %></span>
    </h4>
    <span class="info">
      <span class="invoice has-popup" data-width="500px" data-placement="bottom" data-content='<%= render partial: 'invoices/popup_content', locals: { invoice: payment.invoice } %>' data-title='<%= render partial: 'invoices/popup_title', locals: { invoice: payment.invoice } %>'>
        rata <%= payment.index_in_invoice %> di <%= payment.invoice.num_payments %> per la fattura n. <%= payment.invoice.number %> del <%= l payment.invoice.date, format: '%d/%b/%Y' %>
      </span>
      <span class="note"></span>
    </span>
  </div>
  <ul class="actions">
    <li>
      <%= link_to mark_payment_path(payment), method: :put, remote: true, class: 'btn btn-mini' do %>
        <% if payment.paid? %>
          <i class="icon-unchecked" title="segna come non pagato"></i><span class="lb"> marca come non pagato</span>
        <% else %>
          <i class="icon-checked" title="segna come pagato"></i><span class="lb"> marca come pagato</span>
        <% end %>
      <% end %>
    </li>
    <!--li>
      <%= link_to payment_path(payment), confirm: 'Sei sicuro di voler cancellare questa rata?', method: :delete, remote: true, title: 'elimina rata', class: 'btn btn-mini' do %>
        <i class="icon-trash"></i> elimina
      <% end %>
    </li-->
  </ul>
  <span class="subtot"><%= payment.value %></span>
</li>